/* --- ARQUIVO A SER ATUALIZADO: src/index.css --- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo de foco global para navegação com controle remoto */
body *:focus {
  @apply outline-none ring-2 ring-sharkBlue ring-offset-2 ring-offset-sharkBg rounded;
}

/* A linha 'overflow: hidden' em html, body foi REMOVIDA para corrigir o layout do grid. */

/* Classe utilitária para esconder a barra de rolagem em elementos específicos */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}